@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&family=Raleway:wght@300;500;700&display=swap");

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html,
body {
	font-family: "Poppins", sans-serif;
	background: radial-gradient(circle at 50% 50%, #fed0bc 0%, #e1beff 100%);
	color: #333;
	width: 100vw;
	max-width: 100%;
	overflow-x: hidden;
}

:root {
	--color-main: #f68657;
	--color-secondary: #ae50ff;
	--color-text: #383a3f;
	--color-dark: #1f2124;
	--color-gray: #677;
	--color-bg: #f3f6f9;
	--color-light: #acb4bd;
	--color-lighter: #f9f9f9;
	--color-white: #fff;
	--color-border: #e0e3e6;
}

.dark {
	--color-main: #f68657;
	--color-secondary: #ae50ff;
	--color-text: #d6d1d1;
	--color-dark: #f5f6f7;
	--color-gray: #999;
	--color-bg: #1f2124;
	--color-lighter: #292a2c;
	--color-white: #2e3235;
	--color-border: #252629;
}

.button {
	background-color: var(--color-main);
	color: white;
}

.backdrop {
	position: absolute;
	z-index: 11;
	top: 0;
	left: 0;
	height: 105%;
	width: 100%;
	background: #000000e1;
	display: flex;
	align-items: center;
	justify-content: center;
}

.modal {
	position: fixed;
	transform: translate(-50%, -50%);
	width: clamp(50%, 700px, 90%);
	height: min(70%, 500px);
	margin: auto;
	padding: 2rem;
	border-radius: 12px;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.list-item {
	display: flex;
	align-items: center;
	margin-bottom: 8px;
}

.body-overflow-hidden {
	overflow: hidden;
}

.cta {
	background: linear-gradient(90deg, #ae50ff 0%, #f68657 100%);
}

.header {
	background: linear-gradient(90deg, #c480ff 0%, #fba27c 100%);
}

.background {
	background: radial-gradient(circle at 50% 50%, #fed0bc 0%, #e1beff 100%);
}

.tiles {
	background: linear-gradient(319deg, #fdb190 0%, #cd93ff 100%);
}

.text-gradient {
	background: linear-gradient(227deg, #ff824f 0%, #a540ff 100%);
	-webkit-background-clip: text;
	background-clip: text;
	color: transparent;
}

@media (max-width: 767px) {
	.modal {
		height: min(70%, 500px);
	}
}

@variants {
	.hover\:scale-110:hover {
		transform: scale(1.1);
	}

	.hover\:text-[#ffffff]:hover {
		color: #fff;
	}
}

input::placeholder {
	color: #ffffff;
}

input[type="date"] {
	appearance: none;
	-webkit-appearance: none;
	border: 2px solid #a540ff;
	color: white;
	border-radius: 10px;
	padding: 15px;
	font-size: 14px;
	outline: none;
	width: 250px;
	box-shadow: 0 0 20px 1px #a540ff;
}

input[type="date"]::-webkit-calendar-picker-indicator {
	color: #fff;
}

input[type="date"]::placeholder {
	color: #fff;
}

input[type="date"].neutral:focus {
	border-color: white;
	box-shadow: 0 0 10px 1px #a540ff;
}

input[type="date"].invalid-date:focus {
	border-color: red;
	box-shadow: 0 0 10px 1px red;
}

input[type="date"].valid-date:focus {
	border-color: rgb(0, 192, 0);
	box-shadow: 0 0 10px 1px rgb(0, 192, 0);
}

.fade-out {
	opacity: 0;
	transition: opacity 0.5s ease-in-out;
}
